#body {
    background-color: #090b0c;
}

#header {
    background-color: #061f38;
    color: white;
    height: 150px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#header img {
    padding-top: 10px;
    height: 130px;
}

#main {
    padding: 20px;
    color: rgb(160, 189, 212);
    font-size: 15px;
}

#main .carousel-inner img {
    max-height: 100vh;
    object-fit: initial;
}

#carousel {
    position: relative;
    z-index: 1;
}

#carousel  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    z-index: 2;
    font-family: inherit;
}

.tarjeta1 {
    height: 170px;
}

.tarjeta2 img {
    height: 170px;
}

#seccionFotos img {
    height: 200px;
}

    
